{% extends 'blog/base.html' %} 

{% block title %} Home {% endblock title %} 

{% block content %}

<div>
    {% comment %} <h1>Blog Add Part</h1>
    <form action="/add/" method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value='Add'>
    </form> {% endcomment %}
    <h1>
        Blog Page (Home)
    </h1>
    <ul>
        {% for blog in blogs %}
        
       <li> <a href="{% url 'update' blog.id%}">{{blog}}</a> </li> 
    
        {% endfor %}

    </ul>
    
</div>



{% endblock content %}